<div class="web-create-layout {{teardown ? 'teardown' : ''}}">
  <rv-require name="pl-scrolls" src="/public/vendor/plumes/scrolls/pl-scrolls"></rv-require>

  <div class="pl-scrolls">
    {{#if !sections.length}}
      <section class="web-create-layout-section web-create-layout-noresult">
        <img src="/public/web-create/web-create-hero.png" />
        <h1>{{_('No template found.')}}</h1>
        <p>
          {{_('To create some content, you first need to join')}} <a href="/groups">{{_('a group')}}</a> {{_('with creating powers, or ask your administrator for more')}} <a href="http://allons-y.io" target="_blank">{{_('Allons-y apps')}}</a>.
        </p>
      </section>
    {{/if}}

    {{#sections}}
      <section class="web-create-layout-section">
        <h1>{{_(title)}}</h1>

        <div class="web-create-layout-links">
          {{#links}}
            <a class="web-create-layout-link" href="{{url}}" on-click="linkOpened">
              <img src="{{image || '/public/web-create/web-create-thumb.png'}}" />
              <h2>{{_(title)}}</h2>
              <p>{{_(description)}}</p>
            </a>
          {{/links}}

          <div class="clear"></div>
        </div>
      </section>
    {{/sections}}
  </div>
</div>
